
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
	
}

body {                      /**/
	background-image: url(Images/backgroundTreenscension.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	margin: 0;
}

.pointerCursor {
	cursor: pointer;
}

.leftElements {             /**/
	float: left;
}

.rightElements {            /**/
	float: right;
}

.clearFloatBoth {
	clear: both;
}

#technicalElements {        /**/
	font-size: 25px;
	font-family: fantasy;
	color: rgb(218, 196, 220);
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px 10px 3px rgba(0, 0, 0, .4);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 0px 10px 0px;
	z-index: 3;
}

#technicalElements.nonInteractive {
	cursor: default;
}

#technicalElements .rightElements {
	margin-left: 30px;
	margin-right: 30px;
}

#technicalElements .leftElements {
	margin-left: 30px;
	margin-right: 30px;
}

#tabsContainer {                     /**/
	background-image: linear-gradient(to left, rgba(128, 91, 135, 1), rgb(196, 173, 200));
	position: fixed;
	height: calc(100vh - 270px);
	width: 350px;
	max-width: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	left: 0;
	top: 50px;
	z-index: 1;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.tabsButton {
	font-size: 25px;
	font-family: fantasy;
	color: rgba(147, 199, 144, 1);
	background-color: rgba(29, 47, 41, 1);
	border: none;
	width: 95%;
	height: 85px;
	margin-bottom: 10px;
	box-shadow: 0 0 7px 4px rgb(41, 31, 42);
}

#jsTabsHover {
	color: rgb(218, 196, 220, 1);
	background-color: rgba(78, 59, 79, 1);
}

#jsTabsSelected {
	color: rgba(218, 196, 220, 1);
	background-color: rgba(78, 59, 79, 1);
	box-shadow: 0 0 3px 6px rgb(236, 211, 237);
	width: 97%;
	border-radius: 5px;
	animation-duration: 0.5s;
	z-index: 2;
}

#stats {                    /**/
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px 0px 3px 8px rgba(0, 0, 0, .3);
	position: fixed;
	bottom: 0;
	left: 0;
	height: 180px;
	width: 25%;
	padding: 10px 10px 70px 10px;
	z-index: 2;
}

#statsBorder {              /**/
	background: radial-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0) 70%);
	box-sizing: border-box;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 110%;
	height: 250px;
	border: 10px solid rgba(128, 91, 135, 1);
	border-radius: 30px;
	border-bottom: none;
	border-left: none;
	padding: 10px 12%;
	overflow-y: auto;
}

#statsTitle {
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
	color: white;
	text-shadow: 4px -3px black;
	margin-left: 40px;
	margin-right: -10px;
	margin-top: 10px;
}

#statsDash {
	background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
	border-radius: 100px;
	width: 100%;
	height: 14px;
	margin: 0px 30px 10px 20px;
}

#statsText {
	margin: 5px 20px 0 20px;
}

#statsText p {
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0 50px 8px 0;
}

#statsText #jsManaStats {
	color: rgb(147, 255, 244);
}

#statsText #jsGenesisStats {
	color: rgb(171, 255, 178);
}

#statsText #jsVoidStats {
	color: rgb(219, 189, 255);
}

#log {                      /**/
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px -8px 3px rgba(0, 0, 0, .3);
	position: fixed;
	bottom: 0;
	right: 0;
	height: 125px;
	width: 75%;
	z-index: 1;
}

#logBorder {                /**/
	position: absolute;
	top: 10px;
	width: 120%;
	border: 10px solid rgba(128, 91, 135, 1);
	border-bottom: none;
	border-left: none;
	border-right: none;
}