/*Don't add more elements to this stylesheet, unless refactoring UI skeleton*/

* {
  margin: 0;
  padding: 0;
	scrollbar-color: rgba(172, 145, 176, 1) rgba(96, 72, 101, 1);
}

/*Warning: !important tend to be avoided, but this class will always override any other stylying, no matter the specifity. Don't use other classes to hide elements and don't use another display paramater with !important*/
.hidden {
	display: none !important;
}



/*scrollbar customization*/
::-webkit-scrollbar {
	width: 1.2vw;
}

::-webkit-scrollbar-track {
	background: rgba(96, 72, 101, 1);
}

::-webkit-scrollbar-thumb {
	background: rgba(172, 145, 176, 1);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(153, 128, 157, 1);
}

::-webkit-scrollbar-button {
	background-color: rgba(172, 145, 176, 1);
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url("../Media/Icons/arrowDownLight.svg");
	background-size: 17px 17px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url("../Media/Icons/arrowUpLight.svg");
	background-size: 17px 17px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-button:vertical:decrement:end, ::-webkit-scrollbar-button:vertical:increment:start {
	display: none;
}

::-webkit-scrollbar-button:hover {
	background-color: rgba(153, 128, 157, 1);
}



/*base body style*/
body {                      
	background-image: url(../Media/Backgrounds/backgroundTreenscension.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	margin: 0;
	cursor: default;
}



/*generic classes*/
.pointerCursor {
	cursor: pointer;
}

.leftElements {             
	float: left;
}

.rightElements {            
	float: right;
}

.clearFloatBoth {
	clear: both;
}

.alignCenter {
	text-align: center;
}

.barGrid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
}

.barGrid :nth-child(1) {
  grid-column: span 2;
}

.barGrid :nth-child(2) {
  grid-column: span 3;
}

.bar {
	padding: 0;
}

.bar div {
	height: inherit;
	border: none;
}

.invisible {
	pointer-events: none;
}

.variable {
	display: inline;
}

/*header*/
#technicalElements {        
	font-size: 25px;
	font-family: fantasy;
	color: rgba(218, 196, 220, 1);
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px 10px 3px rgba(0, 0, 0, .4);
	width: 100%;
	max-height: 22%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 0px 10px 0px;
	z-index: 3;
	overflow-y: auto;
	overflow-x: auto;
}

#technicalElements ul {
	list-style-type: none;
}

#technicalElements li {
	float: inherit;
	bottom: 0;
	transition-duration: 0.6s;
}

#technicalElements li:hover {
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, .3);
	transition-duration: 0.2s;
}

#technicalElements .headerSelected {
	font-size: 35px;
	color: white;
	text-shadow: 0 0 30px rgba(255, 255, 255, .3);
	transition-duration: 0.6s;
}

#technicalElements span {
	float: inherit;
	margin-left: 8px;
	margin-right: 8px;
}

#technicalElements .headerIcons {
	display: flex;
	float: inherit;
	position: relative;
	bottom: -3px;
	margin-left: 40px;
	margin-right: 40px;
	column-gap: 5px;
}

#technicalElements .headerIcons svg {
	height: 24px;
	width: 24px;
	background-color: rgba(245, 221, 247, 1);
	border: 2px solid rgba(218, 196, 220, 1);
	border-radius: 5px;
	transition-duration: 0.2s;
}

#technicalElements .headerIcons svg:hover:not(.gameSpeedSelected) {
	background-color: rgba(187, 168, 188, 1);
	border: 2px solid rgb(155, 140, 156, 1);
	transition-duration: 0.2s;
}

#technicalElements .headerIcons svg.pointerCursor.gameSpeedSelected { /*pointerCursor class used to increase specifity*/
	transform: scaleY(0.98) translateY(2px);
	box-shadow: inset 0 2px 2px rgba(0, 0, 0, .7);
	background-color: rgba(187, 168, 188, 1);
	transition-duration: 0;
	cursor: default;
}


#technicalElements .rightElements {
	margin-left: 30px;
	margin-right: 30px;
}

#technicalElements .leftElements {
	margin-left: 30px;
	margin-right: 30px;
}

#gameSpeedDisplay {
	float: inherit;
}

/*reset buttons*/
.resetButtons {
	position: fixed;
	display: flex;
	margin: 15px 30px;
	bottom: calc(100vh - 140px);
	right: 0;
	column-gap: 10px;
	z-index: 3;
}

.resetButtons div {
	height: 50px;
	width: 50px;
	background-image: url("../Media/Backgrounds/starBackground.jpg");
	backdrop-filter: brightness(0.7);
	border: 3px solid rgba(179, 161, 180, 1);
	border-radius: 11px;
	transition-duration: 0.2s;
	overflow: hidden;
}


.resetButtons div:hover:not(.locked) {
	filter: invert(1);
}

.resetButtons div.locked {
	filter: blur(2px) brightness(0.3) saturate(0);
	cursor: default;
}

.resetButtons div.locked svg{
	animation: none;
}


.resetButtons svg {
	height: 50px;
	width: 50px;
	
}



/*side tab*/
#side {                    
	background-image: linear-gradient(to left, rgba(128, 91, 135, 1), rgba(196, 173, 200, 1));
	position: fixed;
	height: calc(100vh - 340px);
	min-height: 33%;
	width: 350px;
	max-width: 25%;
	padding-top: 30px;
	padding-bottom: 10px;
	left: 0;
	top: 50px;
	z-index: 1;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.sideButton {
	font-size: 25px;
	font-family: fantasy;
	color: rgba(147, 199, 144, 1);
	background-color: rgba(29, 47, 41, 1);
	border: none;
	width: 95%;
	height: 85px;
	margin-bottom: 10px;
	box-shadow: 0 0 7px 4px rgba(41, 31, 42, 1);
	transition: 0.3s;
}

.sideButton:hover {
	color: rgba(218, 196, 220, 1);
	background-color: rgba(78, 59, 79, 1);
}

#side .sideSelected {
	color: rgba(218, 196, 220, 1);
	background-color: rgba(78, 59, 79, 1);
	box-shadow: 0 0 3px 6px rgb(236, 211, 237);
	width: 97%;
	border-radius: 5px;
	z-index: 2;
}



/*stats section (need to be organized better)*/
#stats {                    
	box-sizing: border-box;
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px 0px 3px 8px rgba(0, 0, 0, .3);
	position: fixed;
	bottom: 0;
	left: 0;
	height: 260px;
	max-height: 50%;
	width: 27%;
	padding: 10px 10px 70px 10px;
	z-index: 2;
}

#statsBorder {              
	box-sizing: border-box;
	background: radial-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0) 70%);
	position: absolute;
	top: 10px;
	right: 10px;
	width: 110%;
	height: 110%;
	border: 10px solid rgba(128, 91, 135, 1);
	border-radius: 30px;
	border-bottom: none;
	border-left: none;
}

#statsGhostContainer { /*This lets the stats border to go offscreen, for the round border not to show up*/ 
	position: absolute;
	top: 0;
	right: 0;
	width: 71%;
	height: 87%;
	padding: 0 14% 0 0;
	overflow-y: auto; 
}

#jsStatsTitle {
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
	color: white;
	text-shadow: 4px -3px black;
	margin-left: 40px;
	margin-right: -10px;
	margin-top: 10px;
}

#statsDash {
	background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
	border-radius: 100px;
	width: 100%;
	height: 14px;
	margin: 0px 30px 10px 20px;
}

#statsText {
	margin-left: 10px;
}

#statsText div {
	box-sizing: border-box;
}

#statsText p {
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0 50px 8px 0;
}

#statsText #jsManaStats {
	color: rgba(147, 255, 244, 1);
}

#statsText #jsGenesisStats {
	color: rgba(171, 255, 178, 1);
}

#statsText #jsVoidStats {
	color: rgba(219, 189, 255, 1);
}



/*log section*/
#log {                      
	box-sizing: border-box;
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px -8px 3px rgba(0, 0, 0, .3);
	position: fixed;
	bottom: 0;
	right: 0;
	height: 140px;
	max-height: 35%;
	width: 73%;
	z-index: 1;
}

#logBorder {
	box-sizing: border-box;
	position: absolute;
	top: 10px;
	width: 100%;
	height: 92%;
	border: 10px solid rgba(128, 91, 135, 1);
	border-bottom: none;
	border-left: none;
	border-right: none;
}

#logTitle {
	position: relative;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	color: white;
	margin-top: -3px;
	padding-bottom: 3px;
	box-shadow: 0px 8px 3px rgba(0, 0, 0, .3);
}

#logTableContainer {
	height: 80%;
	overflow-y: auto;
}

#logTable {
	width: 100%;
	border-collapse: collapse;
}

#logTable td {
	color: rgba(218, 196, 220, 1);
	font-size: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 0 10px 0 20px;
}

#logTable td.logIdentifier {
	position: relative;
	text-align: center;
	border-right: 4px solid rgba(221, 99, 232, 0.4);
	background: rgba(0, 0, 0, 0.1);
}

#logTable td.logEvent {
	margin-right: 20px;
}

#logTable tr:nth-child(odd) {
	background-color: rgba(76, 42, 85, 1);
}

#logTable tr:nth-child(even) {
	background-color: rgba(90, 49, 100, 1);
}



/*main tabs section*/
.mainTab {
	position: fixed;
	box-sizing: border-box;
	right: 0;
	top: 60px;
	width: 73%;
	height: calc(100vh - 200px);
	padding: 10px;
	padding-right: 40px;
	overflow: auto;
}

.mainContainer {
	position: absolute;
	margin: 40px;
	min-height: 200px;
	transition: opacity 0.3s, max-height 1s;
}

.mainContainer h1 {
	font-family: fantasy;
	font-weight: 10;
	font-size: 40px;
	color: rgba(239, 216, 241, 1);
	text-shadow: 0 2px 2px black;
	
}

.mainContainer .innerContainer {
	height: fit-content;
	padding: 30px 50px;
	margin-right: 50px;
	margin-bottom: 30px;
	min-width: 50vw;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.mainContainer .buttonMark {
	font-family: fantasy;
	font-size: 30px;
	background: none;
	border: none;
	color: rgba(239, 216, 241, 1);
	margin-right: 30px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.mainContainer .buttonMark:hover {
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, .3);
	transition-duration: 0.4s;
}

.mainContainer .buttonsContainerMain {
	margin-bottom: 30px;
}

.mainContainer .buttonsContainerMain {
	margin-bottom: 30px;
	height: 50px;
	display: flex;
	gap: 10px;
}



/*popups*/
.popupShadow {
	box-sizing: border-box;
	position: fixed;
	display: flex;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(15, 5, 14, 0.614);
	align-items: center;
	justify-content: center;
	overflow: auto;
	z-index: 1000;
}

@keyframes popupBorder {
	0% {
		animation-timing-function: linear;
		background-position: 0 200%;
	}
    100% {
			animation-timing-function: linear;
			background-position: 0 -200%;
	}
}

.popupWindowBorderOuter {
	box-sizing: border-box;
	max-height: 80vh;
	max-width: 60vw;
	background-color: rgba(29, 47, 41, 1);
	border-radius: 10px;
	overflow: hidden;

}

.popupWindowBorderInner{
	max-height: inherit;
	max-width: inherit;
	background: linear-gradient(rgba(255, 131, 253, 0) 45%, rgba(255, 131, 253, 1) 55%, rgba(255, 131, 253, 0));
	border-radius: 10px;
	padding: 0 2px;
	background-size: 100% 200%;
	animation: popupBorder 6s infinite;
}

.popupContent {
	box-sizing: border-box;
	max-height: inherit;
	max-width: inherit;
	padding: 30px 50px;
	color: white;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgba(29, 47, 41, 1);
	border-radius: 10px;
	overflow-y: auto;
}

.popupContent h1 {
	text-align: center;
	margin-bottom: 30px;
}

.popupContent p {
	margin-bottom: 10px;
}

.popupContent .popupFlexbox {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 10px;
}

.popupContent .popupFlexbox > * {
	margin: 8px 8px;
}

.popupContent button {
	padding: 3px 0;
	font-size: 20px;	
	flex-basis: calc(33% - 16px);
	background-color: rgba(245, 221, 247, 1);
	border: 2px solid rgba(218, 196, 220, 1);
	border-radius: 3px;
	transition-duration: 0.2s;
}

.popupContent button:hover {
	background-color: rgba(187, 168, 188, 1);
	border: 2px solid rgb(155, 140, 156, 1);
	transition-duration: 0.2s;
}

.popupContent button:active {
	box-shadow: inset 0 2px rgba(58, 52, 58, 0.6);
	transform: translateY(2px);
	background-color: rgba(187, 168, 188, 1);
	border: 2px solid rgba(155, 140, 156, 1);
	transition-duration: 0.2s;
}

/*Don't add more elements to this stylesheet, unless refactoring UI skeleton*/