/*Don't add more elements to this stylesheet, unless refactoring UI skeleton*/

* {
  margin: 0;
  padding: 0;
	scrollbar-color: rgba(172, 145, 176, 1) rgba(96, 72, 101, 1);
}

/*Warning: !important tend to be avoided, but this class will always override any other stylying, no matter the specifity. Don't use other classes to hide elements and don't use another display paramater with !important*/
.hidden {
	display: none;
}



/*scrollbar customization*/
::-webkit-scrollbar {
	width: 1.2vw;
}

::-webkit-scrollbar-track {
	background: rgba(96, 72, 101, 1);
}

::-webkit-scrollbar-thumb {
	background: rgba(172, 145, 176, 1);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(153, 128, 157, 1);
}

::-webkit-scrollbar-button {
	background-color: rgba(172, 145, 176, 1);
}

::-webkit-scrollbar-button:vertical:decrement {
	background-image: url("../Media/Icons/arrowDownLight.svg");
	background-size: 17px 17px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

::-webkit-scrollbar-button:vertical:increment {
	background-image: url("../Media/Icons/arrowUpLight.svg");
	background-size: 17px 17px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

::-webkit-scrollbar-button:vertical:decrement:end, ::-webkit-scrollbar-button:vertical:increment:start {
	display: none;
}

::-webkit-scrollbar-button:hover {
	background-color: rgba(153, 128, 157, 1);
}



/*base body style*/
body {                      
	background-image: url(../Media/Backgrounds/backgroundTreenscension.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	margin: 0;
}



/*generic classes*/
.pointerCursor {
	cursor: pointer;
}

.leftElements {             
	float: left;
}

.rightElements {            
	float: right;
}

.clearFloatBoth {
	clear: both;
}



/*header*/
#technicalElements {        
	font-size: 25px;
	font-family: fantasy;
	color: rgba(218, 196, 220, 1);
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px 10px 3px rgba(0, 0, 0, .4);
	width: 100%;
	max-height: 22%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 10px 0px 10px 0px;
	z-index: 3;
	overflow-y: auto;
	overflow-x: auto;
}

#technicalElements ul {
	list-style-type: none;
}

#technicalElements li {
	float: inherit;
	bottom: 0;
	transition-duration: 0.6s;
}

#technicalElements li:hover {
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, .3);
	transition-duration: 0.2s;
}

#technicalElements .headerSelected {
	font-size: 35px;
	color: white;
	text-shadow: 0 0 30px rgba(255, 255, 255, .3);
	transition-duration: 0.6s;
}

#technicalElements span {
	float: inherit;
	margin-left: 8px;
	margin-right: 8px;
}

#technicalElements .rightElements {
	margin-left: 30px;
	margin-right: 30px;
}

#technicalElements .leftElements {
	margin-left: 30px;
	margin-right: 30px;
}



/*side tab*/
#side {                    
	background-image: linear-gradient(to left, rgba(128, 91, 135, 1), rgba(196, 173, 200, 1));
	position: fixed;
	height: calc(100vh - 340px);
	min-height: 33%;
	width: 350px;
	max-width: 25%;
	padding-top: 20px;
	padding-bottom: 10px;
	left: 0;
	top: 50px;
	z-index: 1;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.sideButton {
	font-size: 25px;
	font-family: fantasy;
	color: rgba(147, 199, 144, 1);
	background-color: rgba(29, 47, 41, 1);
	border: none;
	width: 95%;
	height: 85px;
	margin-bottom: 10px;
	box-shadow: 0 0 7px 4px rgba(41, 31, 42, 1);
	transition: 0.3s;
}

.sideButton:hover {
	color: rgba(218, 196, 220, 1);
	background-color: rgba(78, 59, 79, 1);
}

#side .sideSelected {
	color: rgba(218, 196, 220, 1);
	background-color: rgba(78, 59, 79, 1);
	box-shadow: 0 0 3px 6px rgb(236, 211, 237);
	width: 97%;
	border-radius: 5px;
	z-index: 2;
}



/*stats section (need to be organized better)*/
#stats {                    
	box-sizing: border-box;
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px 0px 3px 8px rgba(0, 0, 0, .3);
	position: fixed;
	bottom: 0;
	left: 0;
	height: 260px;
	max-height: 50%;
	width: 27%;
	padding: 10px 10px 70px 10px;
	z-index: 2;
}

#statsBorder {              
	box-sizing: border-box;
	background: radial-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0) 70%);
	position: absolute;
	top: 10px;
	right: 10px;
	width: 110%;
	height: 110%;
	border: 10px solid rgba(128, 91, 135, 1);
	border-radius: 30px;
	border-bottom: none;
	border-left: none;
}

#statsGhostContainer { /*This lets the stats border to go offscreen, for the round border not to show up*/ 
	position: absolute;
	top: 0;
	right: 0;
	width: 71%;
	height: 87%;
	padding: 0 14% 0 0;
	overflow-y: auto; 
}

#jsStatsTitle {
	text-align: center;
	font-size: 30px;
	font-family: fantasy;
	color: white;
	text-shadow: 4px -3px black;
	margin-left: 40px;
	margin-right: -10px;
	margin-top: 10px;
}

#statsDash {
	background: radial-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
	border-radius: 100px;
	width: 100%;
	height: 14px;
	margin: 0px 30px 10px 20px;
}

#statsText {
	margin-left: 10px;
}

#statsText div {
	box-sizing: border-box;
}

#statsText p {
	color: rgb(255, 255, 255);
	font-size: 20px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0 50px 8px 0;
}

#statsText #jsManaStats {
	color: rgb(147, 255, 244);
}

#statsText #jsGenesisStats {
	color: rgb(171, 255, 178);
}

#statsText #jsVoidStats {
	color: rgb(219, 189, 255);
}



/*log section*/
#log {                      
	box-sizing: border-box;
	background-color: rgba(29, 47, 41, 1);
	box-shadow: 0px -8px 3px rgba(0, 0, 0, .3);
	position: fixed;
	bottom: 0;
	right: 0;
	height: 140px;
	max-height: 35%;
	width: 73%;
	z-index: 1;
	overflow: hidden;
}

#logBorder {
	box-sizing: border-box;
	position: absolute;
	top: 10px;
	width: 100%;
	height: 92%;
	border: 10px solid rgba(128, 91, 135, 1);
	border-bottom: none;
	border-left: none;
	border-right: none;
}

#logTitle {
	position: relative;
	text-align: center;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	color: white;
	box-shadow: 0px 8px 3px rgba(0, 0, 0, .3);
}

#logTableContainer {
	height: 100%;
	overflow-y: auto;
}

#jsLogTable {
	width: 100%;
	border-collapse: collapse;
}

#jsLogTable td {
	color: rgba(218, 196, 220, 1);
	font-size: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	padding: 0 10px 0 20px;
}

#jsLogTable td:nth-child(1) {
	position: relative;
	text-align: center;
	border-right: 4px solid rgba(218, 196, 220, 1);
}

#jsLogTable tr:nth-child(odd) {
	background-color: rgba(76, 42, 85, 1);
}

#jsLogTable tr:nth-child(even) {
	background-color: rgba(90, 49, 100, 1);
}



.mainTab {
	position: fixed;
	box-sizing: border-box;
	right: 0;
	top: 60px;
	width: 73%;
	height: calc(100vh - 200px);
	padding: 10px;
	padding-right: 40px;
	overflow-x: auto;
}

.mainContainer {
	position: absolute;
	margin: 40px;
	min-height: 200px;
	transition: opacity 0.3s, max-height 1s;
}

.mainContainer h1 {
	font-family: fantasy;
	font-weight: 10;
	font-size: 40px;
	color: rgba(239, 216, 241, 1);
	text-shadow: 0 2px 2px black;
	cursor: default;
}

.mainContainer .innerContainer {
	height: fit-content;
	padding: 30px 50px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.mainContainer .tabMark {
	font-family: fantasy;
	font-size: 30px;
	background: none;
	border: none;
	color: rgba(239, 216, 241, 1);
	margin-right: 30px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.mainContainer .tabMark:hover {
	color: white;
	text-shadow: 0 0 10px rgba(255, 255, 255, .3);
	transition-duration: 0.4s;
}
/*Don't add more elements to this stylesheet, unless refactoring UI skeleton*/