/*Options tab*/
.optionsContainer {
  width: 950px;
}

.mainContainer .buttonMark.optionsTabSelected {
  color: white;
  font-size: 40px;
	text-shadow: 0 0 30px rgba(255, 255, 255, .3);
  transition-duration: 0.4s;
}



/*Save tab*/
.saveContainer {
  width: 950px;
}



/*Changelog tab*/
.changelogContainer {
  width: 950px;
  color: white;
}

.changelogContainer h2 {
  display: grid;
  width: 70%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  align-items: baseline;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.changelogContainer .versionSection {
  margin-bottom: 40px;
}


.changelogContainer ul {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10px;

}

@-webkit-keyframes majorVersion {
  0% {
    text-shadow: 2px 2px 5px rgba(204, 0, 255, 1), -2px -2px 5px rgba(250, 255, 147, 0.7);
  }
  18% {
    text-shadow: -2px -2px 5px rgba(204, 0, 255, 1), 2px 2px 2px rgba(250, 255, 147, 0.7);
  }
  37% {
    text-shadow: 1px -1px 3px rgba(204, 0, 255, 1), -1px 1px 7px rgba(250, 255, 147, 0.7);
  }
  56% {
    text-shadow: 2px 2px 5px rgba(204, 0, 255, 1), -2px -2px 5px rgba(250, 255, 147, 0.7);
  }
  75% {
    text-shadow: -2px 2px 7px rgba(204, 0, 255, 1), 2px -2px 3px rgba(250, 255, 147, 0.7);
  }
  90% {
    text-shadow: 1px -1px 2px rgba(204, 0, 255, 1), -1px 1px 5px rgba(250, 255, 147, 0.7);
  }
  100% {
    text-shadow: 2px 2px 5px rgba(204, 0, 255, 1), -2px -2px 5px rgba(250, 255, 147, 0.7);
  }
}

@keyframes majorVersion {
  0% {
    text-shadow: 2px 2px 5px rgba(204, 0, 255, 1), -2px -2px 5px rgba(250, 255, 147, 0.7);
  }
  18% {
    text-shadow: -2px -2px 5px rgba(204, 0, 255, 1), 2px 2px 2px rgba(250, 255, 147, 0.7);
  }
  37% {
    text-shadow: 1px -1px 3px rgba(204, 0, 255, 1), -1px 1px 7px rgba(250, 255, 147, 0.7);
  }
  56% {
    text-shadow: 2px 2px 5px rgba(204, 0, 255, 1), -2px -2px 5px rgba(250, 255, 147, 0.7);
  }
  75% {
    text-shadow: -2px 2px 7px rgba(204, 0, 255, 1), 2px -2px 3px rgba(250, 255, 147, 0.7);
  }
  90% {
    text-shadow: 1px -1px 2px rgba(204, 0, 255, 1), -1px 1px 5px rgba(250, 255, 147, 0.7);
  }
  100% {
    text-shadow: 2px 2px 5px rgba(204, 0, 255, 1), -2px -2px 5px rgba(250, 255, 147, 0.7);
  }
}

.changelogContainer .majorChange h2 .version {
  font-size: 35px;
  animation: majorVersion 8s infinite;
}

.changelogContainer .majorChange li {
  font-size: 20px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

@keyframes regularVersion {
 0% {
  color: rgba(210, 253, 214, 1);
  transition-timing-function: ease-out;
 } 

 50% {
  
  text-shadow: 0 0 6px white;
  transition-timing-function: ease-in;
 }

 100% {
  color: rgba(210, 253, 214, 1);
 }
}

.changelogContainer .regularChange h2 .version {
  font-size: 30px;
  animation: regularVersion 3s infinite;
}

.changelogContainer .regularChange li {
  font-size: 18px;
}

.changelogContainer .minorChange h2 .version {
  font-size: 25px;
}

.changelogContainer .minorChange li {
  font-size: 16px;
}



/*Statistics tab*/

.statisticsContainer {
  width: 950px;
}

.mainContainer .buttonMark.statisticsTabSelected {
  color: white;
  font-size: 40px;
	text-shadow: 0 0 30px rgba(255, 255, 255, .3);
  transition-duration: 0.4s;
}

.statisticsContainer ul {
  list-style: none;
  columns: 2;
}

.statisticsContainer li {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: white;
}



/*Skills tab*/

.skillsContainer {
  width: 1000px;
}

.mainContainer .buttonMark.skillsTabSelected {
  color: white;
  font-size: 40px;
	text-shadow: 0 0 30px rgba(255, 255, 255, .3);
  transition-duration: 0.4s;
}


.mainContainer .skillsContent .skillsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.mainContainer .skillsContent .skillsGrid h1 {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.mainContainer .skillsContent .barGrid {
  margin: 4px 0;
}

.mainContainer .skillsContent .skillsGrid div {
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}


/*Skill bars*/

.skillsTabSkillBarContainer {
  border: 2px solid rgba(218, 196, 220, 1);
  padding: 0;
  border-radius: 5px;
}

.skillsTabSkillBarContainer:hover div.innerBar { /*ATTENTION: border: 2px solid transparent is a hover mark*/
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 1px;
  border: 2px solid transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.skillsTabSkillBarContainer:not(:hover) div.innerBar {
  color: transparent;
}

.skillsTabSkillBarContainer.levelBar,
.skillsTabSkillBarContainer.prestigeLevelBar
{
  height: 20px;
}

.skillsTabSkillBarContainer.levelBar div {
  width: 50%;
  background-color: rgb(75, 171, 255, 1);
}

.skillsTabSkillBarContainer.levelBar:hover div{
  background-color: rgb(27, 61, 91);
}

.skillsTabSkillBarContainer.prestigeLevelBar div {
  width: 20%;
  background-color: rgba(205, 255, 79, 1);
}

.skillsTabSkillBarContainer.prestigeLevelBar:hover div.innerBar{ 
  background-color: rgb(59, 74, 23);;
}


/*Magic button*/

@-webkit-keyframes glitchMagic {
  0% {
    color: rgba(147, 255, 244, 1);
    text-shadow: -3px -2px 2px rgba(250, 255, 147, 0.7), 3px 2px 2px rgba(250, 255, 147, 0.7);
  }

  50% {
    color:  rgba(209, 255, 250, 1);
    text-shadow: 0 0 6px  rgba(147, 255, 244, 0.4);
  }
  
  100% {
    color: rgba(147, 255, 244, 1);
    text-shadow: -3px -2px 2px rgba(250, 255, 147, 0.7), 3px 2px 2px rgba(250, 255, 147, 0.7);
  }
}

@keyframes glitchMagic {
  0% {
    color: rgba(147, 255, 244, 1);
    text-shadow: -3px -2px 2px rgba(250, 255, 147, 0.7), 3px 2px 2px rgba(250, 255, 147, 0.7);
  }

  50% {
    color:  rgba(209, 255, 250, 1);
    text-shadow: 0 0 6px  rgba(147, 255, 244, 0.4);
  }
  
  100% {
    color: rgba(147, 255, 244, 1);
    text-shadow: -3px -2px 2px rgba(250, 255, 147, 0.7), 3px 2px 2px rgba(250, 255, 147, 0.7);
  }
}

.mainContainer #magicalSkillsTab {
  color: rgba(209, 255, 250, 1);
}

.mainContainer #magicalSkillsTab:hover {
  color: rgba(209, 255, 250, 1);
  text-shadow: 0 0 6px rgba(250, 255, 147, 1);
}

.mainContainer #magicalSkillsTab:not(:hover) {
  animation: glitchMagic 3s infinite;
  animation-name: glitchMagic;
}


/*Genesis button*/

@-webkit-keyframes pulsateGenesis {
  0% {
    color: rgba(210, 253, 214, 1);
    text-shadow: 0 0 1px rgba(250, 255, 147, 1);
    transform: scale(1);
  }

  50% {
    color: rgba(146, 255, 157, 1);
    text-shadow: 0 0px 12px  rgba(204, 255, 200, 0.7);
    transform: scale(1.05);
  }

  100% {
    color: rgba(210, 253, 214, 1);
    text-shadow: 0 0 2px rgba(250, 255, 147, 1);
    transform: scale(1);
  }
  
}

@keyframes pulsateGenesis {
  0% {
    color: rgba(210, 253, 214, 1);
    text-shadow: 0 0 1px rgba(250, 255, 147, 1);
    transform: scale(1);
  }

  50% {
    color: rgba(146, 255, 157, 1);
    text-shadow: 0 0px 12px  rgba(204, 255, 200, 0.7);
    transform: scale(1.05);
  }

  100% {
    color: rgba(210, 253, 214, 1);
    text-shadow: 0 0 2px rgba(250, 255, 147, 1);
    transform: scale(1);
  }
  
}

.mainContainer #genesisSkillsTab:hover {
  color: rgba(210, 253, 214, 1);
  text-shadow: 0 0 6px rgb(255, 255, 255, 1);
}

.mainContainer #genesisSkillsTab:not(:hover) {
  animation: pulsateGenesis 3s infinite;
  animation-name: pulsateGenesis;
}


/*Void button*/

@-webkit-keyframes pulsateVoid {
  0% {
    color: rgba(22, 19, 26, 1);
    text-shadow: 0 0 3px rgba(204, 0, 255, 1);
    transform: scale(1.1);
    transition-timing-function: ease-out;
  }

  70% {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px  rgba(30, 0, 37, 1);
    transform: scale(0.9);
    transition-timing-function: ease-out;
  }

  100% {
    color: rgba(22, 19, 26, 1);
    text-shadow: 0 0 3px rgba(204, 0, 255, 1);
    transform: scale(1.1);
  }
  
}

@keyframes pulsateVoid {
  0% {
    color: rgba(22, 19, 26, 1);
    text-shadow: 0 0 3px rgba(204, 0, 255, 1);
    transform: scale(1.1);
    transition-timing-function: ease-out;
  }

  70% {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px  rgba(30, 0, 37, 1);
    transform: scale(0.9);
    transition-timing-function: ease-out;
  }

  100% {
    color: rgba(22, 19, 26, 1);
    text-shadow: 0 0 3px rgba(204, 0, 255, 1);
    transform: scale(1.1);
  }
  
}

.mainContainer #voidSkillsTab {
  color: rgba(22, 19, 26, 1);
}
.mainContainer #voidSkillsTab:hover {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 15px rgb(90, 22, 112);
}

.mainContainer #voidSkillsTab:not(:hover) {
  animation: pulsateVoid 4s infinite;
  animation-name: pulsateVoid;
}
